.core-values-section {
  padding: 4rem 0;
  background-color: #FFFCEE;
}

.core-values-title {
  font-size: 3rem;
  font-weight: 700;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 3rem;
}

.value-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.value-container > *:nth-child(even) {
  background-color: #2d4869; /* light blue for even cards */
  border-radius: 60px;
  color: #FFFCEE;
}
