.core-values-section {
  padding: 4rem 0;
  background-color: #FFFCEE;
}

.core-values-title {
  font-size: 3rem;
  font-weight: 700;
  color: #2c3e50;
  text-align: center;
  margin-bottom: 3rem;
}

.value-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
}
.value-container > *:nth-child(even) {
  background-color: #2d4869; /* light blue for even cards */
  border-radius: 60px;
  color: #FFFCEE;
}

@media (max-width: 768px) {
  .value-card.left,
  .value-card.right {
    justify-content: center;
  }

  .value-content {
    flex-direction: column;
    text-align: center;
    padding: 2rem;
    gap: 1rem;
    width: 90vw;
  }

  .value-card.left .value-content,
  .value-card.right .value-content {
    border-radius: 24px;
    border: 4px solid #172638;
  }

  .value-card.right .value-content {
    border-right: 4px solid #172638; /* maintain right border */
  }

  .value-icon img {
    width: 64px;
    height: 64px;
  }
}
