.feature-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 2px solid #F4A300;
  border-radius: 15px;
  padding: 4rem 1rem;
  text-align: center;
  transition: all 0.3s ease;
  color: white;
}

.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 30px rgba(243, 156, 18, 0.3);
}

.feature-icon {
  padding-bottom: 60px;
  padding-top: 10px;
  margin-bottom: 1.5rem;
  width: 60px;
  height: 60px;
}

.feature-icon img{
  object-fit: contain;
  width: 60px;
  height: 60px;
}

.feature-card h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: #F4A300;
}

.feature-card p {
  font-size: 0.9rem;
  line-height: 1.6;
  color: #bdc3c7;
}
