.hero {
  background: #f9fafb;
  padding: 120px 0 80px;
  display: flex;
  align-items: center;
}

.hero-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  align-items: center;
  font-family: inter;
  font-weight: 400;
}

.hero-subtitle {
  color: #6b7280;
  font-size: 1.1rem;
  font-family: inter;
  margin-bottom: 0.5rem;
  font-weight: 400;
}

.hero-title {
  font-family: montserrat;
  font-size: 3rem;
  font-weight: 700;
  color: #1f2937;
  line-height: 1.1;
  margin-bottom: 1.5rem;
}

.hero-description {
  color: #6b7280;
  font-size: 1.1rem;
  line-height: 1.6;
  margin-bottom: 2rem;
}

.hero-btn {
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  padding: 15px 30px;
  background: linear-gradient(to right, #F7C547, #F4A300);
  border: none;
  margin-bottom: 3rem;
  border-radius: 9999px;
  color: #1f2937;
  font-weight: 300;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.2s ease-in-out;
}


.hero-stats {
  display: flex;
  gap: 0.6rem; /* more space between items if needed */
  border: 1px solid #F4A300;
  border-radius: 32px;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.25);
  padding: 0.2rem 2rem; /* add top/bottom and left/right padding */
  width: fit-content; /* shrink to fit content width */
  margin: 0; /* center it if needed */
  }
  .stat-divider {
  width: 1px;
  background-color: #d1d5db; /* Light gray */
  height: 60px;
  align-self: center;
}

.stat-item {
  padding: 1.5rem;
  border-radius: 12px;
  text-align: left;
  min-width: 140px;
}

.stat-number {
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 600;
  color: #1f2937;
  margin-bottom: 0.05rem;
  
}

.stat-label {
  font-family: inter;
  font-weight: 400;
  color: #6b7280;
  font-size: 0.9rem;
}

.hero-image {
  position: relative;

}

.hero-image img {
  object-fit: contain;
  border-radius: 20px;
  width: 100%;
  height: auto;
  /* box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1); */
}

@media (max-width: 768px) {
  .hero {
    padding: 100px 0 60px;
  }

  .hero-content {
    grid-template-columns: 1fr;
    gap: 2rem;
    text-align: center;
  }

  .hero-title {
    font-size: 2.5rem;
  }

  .hero-stats {
    justify-content: center;
    gap: 1.5rem;
  }

  .stat-item {
    min-width: 120px;
  }
  @media (max-width: 768px) {
  .stat-divider {
    display: none;
  }
}
}
