.value-card {
  display: flex;
}


.value-card.left {
  justify-content: flex-start;
}

.value-card.right {
  justify-content: flex-end;
}

.value-content {
  display: flex;
  align-items: center;
  gap: 8px;
  /* max-width: 600px; */
  width: 52vw;
  min-width: 300px;
  padding: 2rem ;
  /* background: white; */
  border-radius: 60px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
}

.value-content:hover {
  transform: translateY(-5px);
}

.value-card.left .value-content {
  flex-direction: row-reverse;
  justify-content: space-between;
  background: #172638;
  color: white;
  border-radius: 0 32px 32px 0;
  padding-left: 2 rem;
  /* position: absolute;
  left: 0; */
}

.value-card.right .value-content {
  /* justify-content: space-evenly; */
  border: 4px solid #172638;
  border-right: 0;
  color: #172638;
  border-radius: 32px 0 0 32px;
  padding-right: 2 rem;
  /* position: absolute;
  right: 0; */
}

.value-icon {
  flex-shrink: 0;
  margin: 0;
  padding: 0;
}

.value-card.left .value-icon {
  color: #f39c12;
}

.value-card.right .value-icon {
  color: #f39c12;
}

.value-text h3 {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.value-card.left .value-text h3 {
  color: #f39c12;
}

.value-card.right .value-text h3 {
  color: #172638;
}

.value-text p {
  font-size: 0.9rem;
  line-height: 1.6;
}

.value-card.left .value-text p {
  color: #bdc3c7;
}

.value-card.right .value-text p {
  color: #6c757d;
}

/* from other values */

.value-icon img {
  width: 80px;
  height: 80px;
  object-fit: scale-down;
}

/* .value-title {
  font-size: 1.25rem;
  font-weight: 600;
  margin-bottom: 1rem;
  color: white;
  font-family: montserrat;
}

.value-description {
  font-size: 0.9rem;
  color: #d1d5db;
  line-height: 1.6;
  font-weight: 400;
  font-family: inter;
} */


@media (max-width: 768px) {
  .value-card.left,
  .value-card.right {
    justify-content: center;
  }
  
  .value-content {
    flex-direction: column;
    text-align: center;
    gap: 1 rem;
  }

  .value-card.left .value-content{
    border-radius: 32px;
    padding-right: 2 rem;
  }
  
  .value-card.right .value-content{
    border-radius: 32px;
    padding-right: 2 rem;
    flex-direction: row;
    border-right: 4px solid #172638;
  }
}
